/* Responsive CSS for tablet devices */
@media screen and (min-width: 570px) and (max-width: 810px) {
    .logo,
    .hamburger {
        padding: 0 1.5rem; /* Adjusted padding for smaller screens */
    }

    .menu {
        padding: 0 1.5rem; /* Adjusted padding for smaller screens */
    }

    .menu {
        top: 75px;
    }

    .about .about-text,
    .about .about-image img {
        padding: 1rem; /* Adjusted padding for smaller screens */
    }

    .my-row .my-col {
        width: 35%;
    }
}

/* Responsive CSS for mobile devices */
@media screen and (max-width: 569px) {
    .hero {
        justify-content: center;
        background-image: radial-gradient(circle, rgba(207, 64, 64, 0.3), rgb(102 96 96 / 40%), rgb(163 160 160 / 16%)),
            url('./Images/heroImg3.avif');
    }

    .hero .intro-buttons {
        gap: 20px;
    }

    .btn {
        padding: 10px 20px; /* Adjusted padding for smaller screens */
    }

    .logo,
    .menu,
    .hamburger {
        padding: 0 1rem; /* Adjusted padding for smaller screens */
    }

    .menu {
        top: 75px;
    }

    .about .about-text,
    .about .about-image img {
        width: 90%;
        padding: 0.5rem; /* Adjusted padding for smaller screens */
    }

    .my-row {
        margin: 2rem 0;
        gap: 1rem;
    }

    .my-row .my-col {
        width: 100%;
    }

    .contact-content {
        gap: 1.5rem; /* Adjusted gap for smaller screens */
    }

    .contact-form-container,
    .contact-details {
        width: 90%; /* Adjusted width for smaller screens */
    }

    .footer-menu {
        padding: 0 1rem; /* Adjusted padding for smaller screens */
    }
}
